@media screen and (max-width: 600px) {
    .App {
        background-color: #102E4A;
    }
}


@media screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-direction: row;
    }

    .hire {
        margin-left: 100px;
    }
}

.App {

    background-color: #102E4A;
    color: white;

    display: flex;
    flex-direction: column;


}

a {
    color: white;
}



.intro {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;

}


.extras {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-size: 17px;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#me {
    font-size: 25px;

}

#ap {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header {

    background: #55C1FF;
    height: 70px;
    padding-left: 20px;



}



.navbar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.work {
    margin-left: 50px;
}

.hire {
    margin-left: 900px;

}

.skills-name {
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.img1 {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin-left: 60px;
    outline: none;
    border: none;

}

.projectss {
    display: grid;
    padding: 20px;


}



#sub {

    border: 1px solid white;
    width: 200px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: darkcyan;
    margin-left: 50px;

}

.project-map {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 370px;

    flex-wrap: wrap;
}

.box {
    border: 1px solid white;
    border-radius: 1.5rem;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;

}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    height: 100vh;

}

#hd {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}



#js,
#rct,
#html,
#css {

    width: 150px;
    height: 100px;

}

form {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hire-me {
    font-size: 30px;

}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
}

textarea {
    display: flex;
    width: 400px;
    height: 100px;
    border-radius: 1rem;
    padding: 10px;
    margin-top: 5px;


}

#msg {
    margin-left: 150px;
    margin-top: 20px;
}

button {
    background: #55C1FF;
    border-radius: 1rem;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;
}

#projects {
    height: 100vh;
}

#contact {
    height: 100vh;
}