.App {
    background-color: rgb(61, 58, 58);
    color: white;
    height: 100vh;

}

a {
    color: white;
}

.intro {
    display: flex;
    flex-direction: row;


}


.extras {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;

}

h1,
h2 {
    font-size: medium;
}

p {
    margin-bottom: 8px;

}

header {
    background-color: darkgrey;
    height: 50px;

}

.navbar {
    display: inline-flex;

}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.work {
    margin-left: 50px;
}

.hire {
    margin-left: 1100px;

}

.skills-name {
    display: flex;
    gap: 20px;
    flex-direction: column;

}